html{
    font-size: 0.625rem;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: hsl(hue, saturation, lightness);
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    color: rgb(220, 220, 14);
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fayokuliah.id%2Funiversitas%2Funiversitas-klabat%2F&psig=AOvVaw2kcbCAUiGwDvkK-kmCxR11&ust=1624954125051000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCNjBzojwufECFQAAAAAdAAAAABA0");
    background: purple;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}
img{
    border-radius: 3rem;
    border-width: 1rem;
    box-shadow: 0em;
    border-color: coral;
    position: relative;
    margin-block-end: 0vw;
    align-items: inherit;
    margin-right: 1vw;
}
h1{
    text-align: center;
    color: white;
    text-shadow: honeydew;
    text-transform:capitalize;
    font-size: 4rem;
    padding: -4rem;
    display:table;
    margin-left: 825px;
}
h3{
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-top-right-radius: 0fr;
    color: whitesmoke;
}

.return{
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    display:table-row;
    justify-content: space-around;
    left: 2rem;
}

p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-shadow: hsl(hue, saturation, lightness);
    letter-spacing: 0.05rem;
    color: rgb(220, 220, 14);
    display: inline-block;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: justify;
    text-indent: inherit;
    
    

}
@media screen and (max-width: 900px) {
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px){
    img{
        display: block;
    } 
}
fieldset{
    border-color: dimgrey;
    border-style: solid;
    border-right: 3rem;
}
a{
    color:rgb(220, 220, 14)
}
.heading{
    padding: 1.5rem;
    margin-left: 1rem;
}
.skills{
    font-size: 1rem yellow solid;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    margin-left: 0.4rem;
}
.tabel1{
    padding: 1.5rem;
    margin-left: 1.5rem;
}
.tabel2{
    padding: 1.5rem;
    margin-left: 0.5rem;
}
.tabel3{
    padding: 1.5rem;
    margin-left: 1rem;
}
.tabel4{
    padding: 1.5rem;
    margin-left: 1rem;
}
.skills1{
    margin-right: 1.5rem;
}
.cr{
    list-style: none;
	justify-content: space-around;
    display: flex;
	align-items: center;
	box-shadow: yellow;
	position: bottom;
    margin-top: 40rem;
    margin-right: 5rem;
	top: 0;
	width:100%;
	z-index: 1;
} 
/* nav ul a{
    height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#585b5b;
	letter-spacing: 1px;
} */

